/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}*/

body {
	background-color: white;
	font: 13px/1.5 sans-serif;
	margin: 0.3em 0;
	display: block;
}

a {
    text-decoration: none;
    color: blue;
}

/* Header
==========================*/

header {
	text-align: justify;
	vertical-align: top;
	width: 70%;
	font-size: 150%;
	margin: 0 auto;
	padding: .5em 1em;
}

.p-1, .p-2, .welcome {
  margin: 1em 0;
}

.welcome {
  text-align: right;
}

.wiki-bold {
  font-weight: bold;
}

/* Icons
==========================*/

.icon-container {
	text-align: justify;
	vertical-align: top;
	width: 70%;
	font-size: 150%;
	margin: 0 auto;
	padding: .5em 1em;
  max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.img-container {
	width: 25%;
	min-width: 160px;
	height: 175px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*.icon {
  line-height: 175px;
}*/

img {
	width: 25%;
  min-width: 135px;
  vertical-align: middle;
	border: none;
}

.clearfix {
  overflow: auto;
}

.float-clear {
  clear: both;
}

footer {
  text-align: center;
}

p {
  margin: 1em 0;
}

.footer-link {
  display: inline-block;
  padding: 0 1em;
}

.nowrap {
  white-space: nowrap;
}
